<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('优购房-我的收藏')">
</head>

<body class="user_center_background">
<!--导航栏-->
<nav th:replace="common/template_navbar::nav(99)"></nav>

<!-- 最上面用户栏 -->
<div class="user_top">
    <!-- 头像 -->
    <img th:src="${session.user.getIcon()}" class="my_icon">
    <!--用js控制点击头像弹出修改头像框，头像框写在最后面-->
    <!-- 用户名 -->
    <span th:text="${session.user.getUsername()}" class="my_username">username</span>
</div>

<div class="col-sm-offset-2 col-sm-10 user_container">
    <div class="user_nav col-sm-2" style="padding: 0">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/account/userCenter">我的个人信息</a></li>
            <li class="active"><a href="/showusercollection">我的收藏</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/account/addOldHouse">我要卖房</a></li>
            <li><a href="/account/addRent">我要出租</a></li>
            <!--用户类型为开发商才有以下两项-->
            <li th:if="${session.user.getType()==2}"><a href="/account/addProperty">发布楼盘</a></li>
            <li th:if="${session.user.getType()==2}"><a href="/account/addDecoration">发布装修</a></li>
            <li><a href="/account/publishedInfoManage">管理已发布信息</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">意见反馈</a></li>
        </ul>
    </div>


    <!-- 准确地说，除了这个部分，其他都是一样的 -->
    <!-- 这个部分和商品列那里很像 -->
    <div class="userinfo col-sm-6">
        <!-- 标签页 -->
        <!-- 标签页头部 -->
        <p class="my_title">我的收藏</p>
        <hr/>
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#newHouse" data-toggle="tab">新房收藏</a>
            </li>
            <li><a href="#secondary" data-toggle="tab">二手房收藏</a></li>
            <li><a href="#rent" data-toggle="tab">出租收藏</a></li>
            <li><a href="#decoration" data-toggle="tab">装修收藏</a></li>
        </ul>
        <!-- 分页内容 -->
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="newHouse">
                <!-- 排序方式 -->
                <!-- 使用th迭代标签显示每一条项目 -->
                <!-- 要设置数量，由后端控制，前台给一个上限 -->
                <!-- 没有结果放张图片吧 -->
                <div th:if="${PropertyList != null}" th:each="item:${PropertyList}" th:id="property_list">
                    <div class="result_item">
                        <!-- 预览图片 -->
                        <img th:src="${item.getImg()}" class="item_img"
                             th:href="@{/showItemInfo(ItemName=${item.getItemName()},type=${type})}">
                        <!-- 信息盒子 -->
                        <div class="item_info">
                            <!-- 标题 -->
                            <a th:href="@{/showItemInfo(ItemName=${item.getItemName()},type=${type})}">
                                <p th:text="${item.getItemName()}" class="item_title"></p></a>
                            <!-- 地址 -->
                            <p th:text="${item.getAddress()}" class="item_address"></p>
                            <!-- 价格 -->
                            <span th:text="${item.getPrice()}" class="item_price"></span>
                        </div>
                    </div>
                    <!--删除按钮-->
                    <a th:href="@{/account/deleteMyCollections(itemID=${item.getID()},type=1)}"
                       class="btn btn_yellow btn_remove">删除</a>
                </div>
            </div>
            <div class="tab-pane fade" id="secondary">
                <!-- 排序方式 -->
                <!-- 使用th迭代标签显示每一条项目 -->
                <!-- 要设置数量，由后端控制，前台给一个上限 -->
                <!-- 没有结果放张图片吧 -->
                <div th:if="${OldHouseList != null}" th:each="item:${OldHouseList}" th:id="secondary_list">
                    <div class="result_item">
                        <!-- 预览图片 -->
                        <img class="item_img" th:src="${item.getImg()}"
                             th:href="@{/showItemInfo(ItemName=${item.getItemName()},type=${type})}">
                        <!-- 信息盒子 -->
                        <div class="item_info">
                            <!-- 标题 -->
                            <a th:href="@{/showItemInfo(ItemName=${item.getItemName()},type=${type})}">
                                <p class="item_title" th:text="${item.getItemName()}"></p></a>
                            <!-- 地址 -->
                            <p class="item_address" th:text="${item.getAddress()}"></p>
                            <!-- 价格 -->
                            <p class="item_price" th:text="${item.getPrice()}"></p>
                            </divc>
                        </div>
                        <!--删除按钮-->
                        <a th:href="@{/account/deleteMyCollections(itemID=${item.getID()},type=2)}"
                           class="btn btn_yellow btn_remove btn_remove">删除</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="rent">
                    <!-- 排序方式 -->
                    <!-- 使用th迭代标签显示每一条项目 -->
                    <!-- 要设置数量，由后端控制，前台给一个上限 -->
                    <!-- 没有结果放张图片吧 -->
                    <div th:if="${RentList != null}" th:each="item:${RentList}" th:id="rent_list">
                        <div class="result_item">
                            <!-- 预览图片 -->
                            <img class="item_img" th:src="${item.getImg()}"
                                 th:href="@{/showItemInfo(ItemName=${item.getItemName()},type=${type})}">
                            <!-- 信息盒子 -->
                            <div class="item_info">
                                <!-- 标题 -->
                                <a>
                                    <p class="item_title" th:text="${item.getItemName()}"
                                       th:href="@{/showItemInfo(ItemName=${item.getItemName()},type=${type})}"></p>
                                </a>
                                <!-- 地址 -->
                                <p class="item_address" th:text="${item.getAddress()}"></p>
                                <!-- 价格 -->
                                <p class="item_price" th:text="${item.getPrice()}"></p>
                            </div>
                        </div>
                        <!--删除按钮-->
                        <a th:href="@{/account/deleteMyCollections(itemID=${item.getID()},type=3)}"
                           class="btn btn_yellow btn_remove">删除</a>
                    </div>

                </div>
                <div class="tab-pane fade" id="decoration">
                    <!-- 排序方式 -->
                    <!-- 使用th迭代标签显示每一条项目 -->
                    <!-- 要设置数量，由后端控制，前台给一个上限 -->
                    <!-- 没有结果放张图片吧 -->
                    <div th:if="${DecorationList != null}" th:each="item:${DecorationList}" th:id="decoration_list">
                        <div class="result_item">
                            <!-- 预览图片 -->
                            <img class="item_img" th:src="${item.getImg()}" th:href="@{/showItemInfo(ItemName=${item.getCompany()},type=${type})}">
                            <!-- 信息盒子 -->
                            <div class="item_info">
                                <!-- 标题 -->
                                <a th:href="@{/showItemInfo(ItemName=${item.getCompany()},type=${type})}">
                                <p class="item_title" th:text="${item.getCompany()}"></p>
                                </a>
                                <!-- 地址 -->
                                <p class="item_address" th:text="${item.getAddress()}"></p>
                                <!-- 装修风格 -->
                                <p class="item_style" th:if="${item.getStyle() == 1}">现代</p>
                                <p class="item_style" th:if="${item.getStyle() == 2}">中式</p>
                                <p class="item_style" th:if="${item.getStyle() == 3}">欧式</p>
                                <p class="item_style" th:if="${item.getStyle() == 4}">混搭</p>
                                <p class="item_style" th:if="${item.getStyle() == 5}">其他</p>

                            </div>
                        </div>
                        <!--删除按钮-->
                        <a th:href="@{/account/deleteMyCollections(itemID=${item.getID()},type=4)}"
                           class="btn btn_yellow btn_remove">删除</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 分页 -->
        <!-- 我们这里面根本就用不上我为什么要写呢 -->
        <!-- 得到一共有多少页、当前是第几页 -->


    </div>
</body>

</html>