<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8">
    <!-- 导入bootstrap -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="StyleSheet" href="../css/yugohouse.css" type="text/css" media="screen"/>
</head>

<body class="user_center_background">
<!-- 导航栏 -->
<nav th:replace="common/template_navbar"></nav>
<!-- 最上面用户栏 -->
<div id="user_top">
    <!-- 头像 -->
    <img src="" class="my_icon">
    <!-- 用户名 -->
    <span class="my_username">username</span>
</div>
<div id="user_container" class="col-sm-offset-2 col-sm-10">
    <div id="user_nav" class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">我的个人信息</a></li>
            <li><a href="#">我的收藏</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">我要卖房</a></li>
            <li><a href="#">我要出租</a></li>
            <li><a href="#">管理已发布信息</a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">意见反馈</a></li>
        </ul>
    </div>

    <div id="userinfo" class="col-sm-6">
        <h2 class="my_title">我的信息</h2>
        <form class="form-horizontal" id="userinfo_form" role="form">
            <!-- 用户名 -->
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" disabled>
                </div>
            </div>
            <!-- 性别,需要根据后端传值来决定选择项 -->
            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="male" value="option1" checked disabled>男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="female" value="option2" disabled>女
                    </label>
                </div>
            </div>
            <!-- 用户类型，需要根据后端传值来决定选择项，不可修改 -->
            <div class="form-group">
                <label for="usertype" class="col-sm-2 control-label">用户类型</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <!-- 要确定传至后端的值 -->
                        <input type="radio" name="usertype" id="ordinaryUser" value="ordinaryUser" checked disabled>普通用户
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="usertype" id="developer" value="developer" disabled>开发商
                    </label>
                </div>
            </div>
            <!-- 地址 -->
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address">
                </div>
            </div>
            <!-- 电话 -->
            <div class="form-group">
                <label for="tele" class="col-sm-2 control-label">电话</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="tele">
                </div>
            </div>
            <!-- email -->
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email">
                </div>
            </div>
            <!-- 真实姓名 -->
            <div class="form-group">
                <label for="realName" class="col-sm-2 control-label">真实姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email">
                </div>
            </div>
            <!-- 身份证号 -->
            <div class="form-group">
                <label for="IDNumber" class="col-sm-2 control-label">身份证号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="email">
                </div>
            </div>
            <!-- 提交按钮 -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn_yellow" id="btn_change_info">提交修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>