<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 配置关闭缓存  -->
        <setting name="cacheEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- 事务超时时间 -->
        <setting name="defaultStatementTimeout" value="600"/>
    </settings>

    <typeAliases>
        <typeAlias type="org.csu.sfteam.house.common.model.account.User" alias="user"/>
        <typeAlias type="org.csu.sfteam.house.common.model.utils.Admin" alias="admin"/>
        <typeAlias type="org.csu.sfteam.house.common.model.items.Building" alias="building"/>
        <typeAlias type="org.csu.sfteam.house.common.model.items.Decoration" alias="decoration"/>
        <typeAlias type="org.csu.sfteam.house.common.model.account.Login" alias="login"/>
    </typeAliases>

    <mappers>
                <mapper resource="mapper/userMapper.xml"/>
        <!--        <mapper resource="mapper/admin.xml"/>-->
        <!--        <mapper resource="mapper/blog.xml"/>-->
        <!--        <mapper resource="mapper/house.xml"/>-->
        <!--        <mapper resource="mapper/comment.xml"/>-->
        <!--        <mapper resource="mapper/agency.xml"/>-->
    </mappers>

</configuration>