<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('优购房-二手房(或出租)申请')">
</head>

<!-- 要传一个值确定是申请出售还是出租 -->
<body>
<h1 class="apply_title">修改信息</h1>
<form enctype="multipart/form-data" th:action="@{/commodity/updateOldHouse(ID=${building.getID()})}" method="post"
      th:if="${type==2}"
      class="form-horizontal apply_form col-sm-offset-2 col-sm-8"
      role="form">
    <!-- 标题（奇奇怪怪） -->
    <div class="form-group">
        <label for="itemName" class="col-sm-2 control-label">房源标题</label>
        <div class="col-sm-10">
            <input type="text" th:value="${building.getItemName()}" class="form-control" id="itemNameID" name="itemName"
                   placeholder="请输入房源名">
        </div>
    </div>

    <!-- 序列号 -->
    <div class="form-group">
        <label for="buildingID" class="col-sm-2 control-label">房产序列号</label>
        <div class="col-sm-10">
            <input type="password" th:value="${building.getID()}" class="form-control" id="buildingID" name="ID"
                   placeholder="请输入房产序列号" disabled>
        </div>
    </div>

    <!-- 地址，可能要改成选择的 -->
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">房源地址</label>
        <div class="col-sm-10">
            <input type="text" th:value="${building.getAddress()}" class="form-control" id="address" name="address"
                   placeholder="请输入房源地址" disabled>
        </div>
    </div>
    <!-- 面积 -->
    <div class="form-group">
        <label for="area" class="col-sm-2 control-label">房源面积</label>
        <div class="col-sm-10">
            <input type="text" th:value="${building.getArea()}" class="form-control" id="area" name="area"
                   placeholder="请输入房源面积">
        </div>
    </div>
    <!-- 装修状况 -->
    <div class="form-group">
        <label for="decStatus" class="col-sm-2 control-label">装修情况</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="decStatus" id="decorated" value=1 checked>已装修
            </label>
            <label class="radio-inline">
                <input type="radio" name="decStatus" id="blank" value=2>毛坯房
            </label>
        </div>
    </div>
    <!-- 售价 -->
    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">售价</label>
        <div class="col-sm-10">
            <input type="text" th:value="${building.getPrice()}" class="form-control" id="price" name="price"
                   placeholder="请输入预期售价">
        </div>
    </div>
    <!-- 简介 -->
    <div class="form-group">
        <label for="info" class="col-sm-2 control-label">房源简介</label>
        <div class="col-sm-10">
            <textarea class="form-control" th:text="${building.getInfo()}" rows="3" id="info" name="info"
                      placeholder="介绍一下您的房子"></textarea>
        </div>
    </div>
    <!-- 图片 -->
    <div class="form-group">
        <label for="inputimg" class="col-sm-2 control-label">上传房源图片</label>
        <div class="col-sm-10">
            <input type="file" name="file" id="inputimg">
        </div>
    </div>
    <!-- 提交按钮 -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn_apply btn_yellow" id="btn_submit">提交</button>
        </div>
    </div>
</form>
<form enctype="multipart/form-data" th:action="@{/commodity/updateOldHouse(ID=${building.getID()})}" method="post" th:if="${type==3}"
      class="form-horizontal apply_form col-sm-offset-2 col-sm-8"
      role="form">
    <!-- 标题（奇奇怪怪） -->
    <div class="form-group">
        <label for="itemName" class="col-sm-2 control-label">房源标题</label>
        <div class="col-sm-10">
            <input type="text" th:text="${building.getItemName()}" class="form-control" id="itemNameID" name="itemName"
                   placeholder="请输入房源名">
        </div>
    </div>

    <!-- 序列号 -->
    <div class="form-group">
        <label for="buildingID" class="col-sm-2 control-label">房产序列号</label>
        <div class="col-sm-10">
            <input type="password" th:text="${building.getID()}" class="form-control" id="buildingID" name="buildingID"
                   placeholder="请输入房产序列号" disabled>
        </div>
    </div>

    <!-- 地址，可能要改成选择的 -->
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">房源地址</label>
        <div class="col-sm-10">
            <input type="text" th:text="${building.getAddress()}" class="form-control" id="address" name="address"
                   placeholder="请输入房源地址" disabled>
        </div>
    </div>
    <!-- 面积 -->
    <div class="form-group">
        <label for="area" class="col-sm-2 control-label">房源面积</label>
        <div class="col-sm-10">
            <input type="text" th:text="${building.getArea()}" class="form-control" id="area" name="area"
                   placeholder="请输入房源面积">
        </div>
    </div>
    <!-- 装修状况 -->
    <div class="form-group">
        <label for="decStatus" class="col-sm-2 control-label">装修情况</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="decStatus" id="decorated" value=1 checked>已装修
            </label>
            <label class="radio-inline">
                <input type="radio" name="decStatus" id="blank" value=2>毛坯房
            </label>
        </div>
    </div>
    <!-- 售价 -->
    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">售价</label>
        <div class="col-sm-10">
            <input type="text" th:text="${building.getPrice()}" class="form-control" id="price" name="price"
                   placeholder="请输入预期售价">
        </div>
    </div>
    <!-- 简介 -->
    <div class="form-group">
        <label for="info" class="col-sm-2 control-label">房源简介</label>
        <div class="col-sm-10">
            <textarea class="form-control" th:text="${building.getInfo()}" rows="3" id="info" name="info"
                      placeholder="介绍一下您的房子"></textarea>
        </div>
    </div>
    <!-- 图片 -->
    <div class="form-group">
        <label for="inputimg" class="col-sm-2 control-label">上传房源图片</label>
        <div class="col-sm-10">
            <input type="file" name="file" id="inputimg">
        </div>
    </div>
    <!-- 提交按钮 -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn_apply btn_yellow" id="btn_submit">提交</button>
        </div>
    </div>
</form>
</body>

</html>