<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('优购房-搜索')">
</head>
<body>
<!-- 导航栏 -->
<nav th:replace="common/template_navbar::nav(99)"></nav>

<!--在这里加一张装饰用的图片-->

<!-- 分类搜索栏位 -->
<div class="search_box">
    <!-- 搜索框 -->
    <div style="overflow: auto">
        <form class="bs-example bs-example-form search_in_list" role="form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control search" style="height: 45px">
                        <span class="input-group-btn">
							<button class="btn btn-default btn_yellow btn_search_in_list" type="button">
								搜索
							</button>
						</span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </form>
    </div>
    <!-- 除搜索框的其他内容 -->
    <div>
        <!-- 分类栏 -->
        <!-- 不同页面分类还tmd不一样 -->
        <div th:if="${type == 1}" class="type_box">
            <div class="form-group">
                <label class="col-sm-1 control-label">位置</label>
                <ul class=" list-inline col-sm-11">
                    <li>雨花</li>
                    <li>岳麓</li>
                    <li>天心</li>
                </ul>
            </div>
            <!-- 具体的位置应该动态写，读取地址的市，再得到该市有哪些地区 -->
            <label class="col-sm-1 control-label">售价</label>
            <ul class="list-inline col-sm-11">
                <li><input type="checkbox"> 60万以下
                <li>
                <li><input type="checkbox"> 60-90万
                <li>
                <li><input type="checkbox"> 90-120万
                <li>
                <li><input type="checkbox"> 120-150万
                <li>
                <li><input type="checkbox"> 150万以上
                <li>
            </ul>
        </div>

        <div th:if="${type == 2 || type == 3}" class="type_box">
            <label class="col-sm-1 control-label">位置</label>
            <ul class=" list-inline col-sm-11">
                <li>雨花</li>
                <li>岳麓</li>
                <li>天心</li>
            </ul>
            <!-- 具体的位置应该动态写，读取地址的市，再得到该市有哪些地区 -->
            <label class="col-sm-1 control-label">售价</label>
            <ul class="list-inline col-sm-11">
                <li><input type="checkbox"> 60万以下
                <li>
                <li><input type="checkbox"> 60-90万
                <li>
                <li><input type="checkbox"> 90-120万
                <li>
                <li><input type="checkbox"> 120-150万
                <li>
                <li><input type="checkbox"> 150万以上
                <li>
            </ul>
            <label class="col-sm-1 control-label">面积</label>
            <ul class="list-inline col-sm-11">
                <li><input type="checkbox"> 50㎡以下
                <li>
                <li><input type="checkbox"> 50-70㎡
                <li>
                <li><input type="checkbox"> 70-90㎡
                <li>
                <li><input type="checkbox"> 90-100㎡
                <li>
                <li><input type="checkbox"> 100㎡以上
                <li>
            </ul>
        </div>

        <div th:if="${type == 4}" class="type_box">
            <label class="col-sm-1 control-label">位置</label>
            <ul class=" list-inline col-sm-11">
                <li>雨花</li>
                <li>岳麓</li>
                <li>天心</li>
            </ul>
            <!-- 具体的位置应该动态写，读取地址的市，再得到该市有哪些地区 -->
            <label class="col-sm-1 control-label">风格</label>
            <ul class="list-inline col-sm-11">
                <li><input type="checkbox"> 现代
                <li>
                <li><input type="checkbox"> 中式
                <li>
                <li><input type="checkbox"> 欧式
                <li>
                <li><input type="checkbox"> 混搭
                <li>
                <li><input type="checkbox"> 其他
                <li>
            </ul>
        </div>
    </div>
</div>

<!-- 结果页面 -->
<div class="result_list">
    <!-- 结果条数显示 -->
    <h3 class="result">为您找到 <span th:text="${count}" class="results_count"></span> 条结果</h3>
    <!-- 排序方式，点击切换正逆序 -->
    <ul class="nav nav-tabs">
        <li class="active"><a>发布时间</a></li>
        <li><a>价格</a></li>
    </ul>
    <!-- 使用th迭代标签显示每一条项目 -->
    <!-- 要设置数量，由后端控制 -->
    <!-- 没有结果放张图片吧 -->
    <div th:each="item:${itemList}" th:id="list" class="result_item">
        <div>
            <!-- 预览图片 -->
            <img th:if="${type != 4}"
                 th:href="@{/showItemInfo(ItemName=${item.getItemName()},type=${type})}"
                 src="/images/property1.jpg" class="item_img">
            <!-- 预览图片 -->
            <img th:if="${type == 4}"
                 th:href="@{/showItemInfo(ItemName=${item.getCompany()},type=${type})}"
                 th:src="${item.getImg()}" class="item_img">
            <!-- 信息盒子 -->
            <div class="item_info">
                <!-- 标题 -->
                <a th:if="${type != 4}"
                   th:href="@{/showItemInfo(ItemName=${item.getItemName()},type=${type})}" class="item_title">
                    <p th:if="${type != 4}" th:text="${item.getItemName()}"></p>
                </a>
                <a th:if="${type == 4}"
                   th:href="@{/showItemInfo(ItemName=${item.getCompany()},type=${type})}" class="item_title">
                    <p th:if="${type == 4}" th:text="${item.getCompany()}"></p>
                </a>

                <!-- 地址 -->
                <p th:text="${item.getAddress()}" class="item_address"></p>
                <!-- 价格，装修没有 -->
                <p th:text="${item.getPrice()}" th:if="${type == 2 || type == 3} " class="item_price"></p>
                <!-- 装修风格，只有装修有 -->
                <p th:text="${item.getStyle()}" th:if="${type == 4}" class="item_style"></p>
            </div>
        </div>
    </div>
    <!-- 分页 -->
    <div></div>
</div>

</body>
</html>